@import "../global/theme-variable";

.testimonial{
    .slick-slider{

        .slick-dots{
            text-align: left;
            bottom: -50px;

            li{
                margin: 0;
                &.slick-active{
                    button{
                       
                        position: relative;
                        &::before{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            content: "";
                            height: 10px;
                            display: inline-block;
                            background-color: $color-3;
                            width: 20px;
                            border-radius: 8px;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:991px){
    .testimonial{
        .slick-slider{
            margin-bottom: 50px;
        }
    }
}